<main>

  <p class="h2 mt-4 text-center">
    EPIC: Improving Employability through Internationalization and Collaboration
  </p>
  <div class="row mt-4">
    <div class="col-md-6 text-center">
      <img id="epicLogo" style="max-width: 300px" src="assets/images/epic-logo.png">
    </div>
    <div class="col-md-6 mt-5 text-center">
      <img id="erasmusLogo" style="max-width: 400px" class="my-auto" src="assets/images/EU-flag-Erasmus_vect_POS.png">
    </div>
  </div>
  <div class="mt-5 mb-5">
    <div class="row text-center">
      <div class="col-md-3 py-2" style="background:#10c45c;color:#ffffff;">
        <h3>OBJECTIVES</h3>
        <p>EPIC is an Erasmus+ strategic partnership project focusing on employability through internationalization and collaboration between industry and academia.</p>
      </div>
      <div class="col-md-3 py-2" style="background:#fdc735; color:#ffffff">
        <h3>FOR COMPANIES</h3>
        <p><strong>EPIC</strong> is a new effort from the European Commission (Erasmus+) to increase the employability through closer collaboration between students, academia and industry.</p>
      </div>
      <div class="col-md-3 py-2" style="background:#307ad5; color:#ffffff">
        <h3>FOR STUDENTS</h3>
        <p>EPIC provides a flexible framework for international student projects in close collaboration with companies. A unique opportunity to work together on a real-life problem.</p>
      </div>
      <div class="col-md-3 py-2" style="background:#e948ae; color:#ffffff">
        <h3>ACTIVITIES</h3>
        <p>Yearly activities for students, institutions, and companies to increase collaboration, hosted by the partners in various European cities.</p>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-2">
      <img class="img-fluid" src="assets/images/epic-partners/upc.png">
    </div>
    <div class="col-md-2">
      <img class="img-fluid" src="assets/images/epic-partners/utp.png">
    </div>
    <div class="col-md-2">
      <img class="img-fluid" src="assets/images/epic-partners/talaia.jpg">
    </div>
    <div class="col-md-2">
      <img class="img-fluid" src="assets/images/epic-partners/AAL.png">
    </div>
    <div class="col-md-2">
      <img class="img-fluid" src="assets/images/epic-partners/agu.png">
    </div>
    <div class="col-md-2">
      <img class="img-fluid" src="assets/images/epic-partners/uis.png">
    </div>
  </div>
  <div class="row mt-3 text-center">
    <div class="col-md-3">
      <img class="img-fluid" src="assets/images/epic-partners/riga.png">
    </div>
    <div class="col-md-3">
      <img class="img-fluid" src="assets/images/epic-partners/atene.png">
    </div>
    <div class="col-md-3">
      <img class="img-fluid" src="assets/images/epic-partners/tuhh.png">
    </div>
    <div class="col-md-3">
      <img class="img-fluid" src="assets/images/epic-partners/SaxionLogo.png">
    </div>
  </div>

</main>
